   /* Ajustamos el ancho de las tareas para pantallas pequeñas */
.list-group-item {
    flex-wrap: wrap;
}

.container #listaTareas .card {
    max-width: 33%;
  }

.list-group-item div:first-child {
    flex: 1 1 auto;
}

/* Ajuste para botones en pantallas pequeñas */
.list-group-item div:last-child button {
    margin-bottom: 5px;
}

.container #listaTareas .card-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container #listaTareas .card-title:hover:after {
  content: 	"✎";
}

.container #listaTareas .card-title {
  margin: 1rem auto;
  text-transform: capitalize;
}

#seccionBotones {
  margin-top: 1.5rem;
}


/* media queries: laptop */ 
@media (max-width: 1180px) {
 
  .container #listaTareas .card {
    max-width: 30%;
  }
  
  .container #listaTareas .card-title {
    margin: 1rem auto;
    text-transform: capitalize;
  }

  #seccionBotones {
    margin-top: 1.5rem;
  }
  #seccionBotones .btn-danger {
    width: 70%;
  }; 

}

/* tablet */
@media (max-width: 780px) {

  .container #listaTareas .card-title:after {
    content: 	"✎";
  }

  .navbar-login {
    display: flex;
    justify-content: center;
  }

  .container #listaTareas .card {
    max-width: 45%;
  }
  
  .container #listaTareas .card-title {
    margin: 1rem auto;
    text-transform: capitalize;
  }

  #seccionBotones {
    margin-top: 1.5rem;
  }
  #seccionBotones .btn-danger {
    width: 70%;
  }; 
    
  #navbarNav {
    display: contents;
  }

  #navbarNav #usuarioActual {
    display: inline;
  }

  #navbarNav #logOut {
    display: inline;
  }

  .navbar .display-4 {
    font-size: xx-large;
  }
  
}

/*mobile */
@media (max-width: 480px){

  #dropdownMenuButton1 {
    width: 100%;
  }

  #seccionBotones {
    justify-content: center;
  }

   #seccionBotones .btn-success, .btn-warning {
    min-width: 43%;
  }; 

  footer {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .container #listaTareas .card {
    max-width: 100%;
  }
  
  #navbarNav {
    display: contents;
  }

  #navbarNav #usuarioActual {
    display: none;
  }

  #navbarNav #logOut {
    display: inline;
  }

  .navbar-login {
    display: flex;
    justify-content: center;
  }

  .navbar {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .navbar .display-4 {
    font-size: larger;
  }

}